<div class="petition">
    <h2>If you feel you are on the same page or you have suffered from <u style="color: #f97280">SSS</u> a.k.a. Still Starving Syndrome (I swear it is a thing!), do not hesitate to leave your signature below. </h2>
    <p>Please don't let the food go extinct, sign the page!</p>
</div>

<label id="signHere">Sign Here!</label>

<div class="petitionForm">
    <form method = "POST" action = '/petition'>
            <input name = 'signature' id="sig" type="hidden">
            <canvas name = 'signaturePad' id="canvas" width="300" height="50" style="border-color: rgb(154, 232, 237, 0.3)"></canvas>
            <button type = 'submit'>submit!</button>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
          </form>
          <script src="canvas.js"></script>

    </div>
</div>

<blockquote id="dietQuote">The "I'm on a Diet" cake
</blockquote>
<img id="tinyCake" src="tiny-food.jpg" alt="https://2ctptqj9vf3lafyt2rkh1qto-wpengine.netdna-ssl.com/wp-content/uploads/2017/06/tiny-food.jpg">

<a class="logout" href="/logout">Logout</a>
