{{#if error}}
    <div id="errPopup1" class="overlay">
    	<div class="errPopup">
    		<h2 id="opps">Oopppsss...</h2>
    		<a class="close" href="#">&times;</a>
    		<div class="content">
    			Something went wrong. Please make sure all the information is filled correctly!
    		</div>
    	</div>
    </div>
{{/if}}
